@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

#keys {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

button {
    margin: 2px;
    width: 60px;
    height: 60px;
    font-weight: bold;
    border: none;
    font-family: 'Uncial Antiqua', cursive;
}

#display {
    height: 25px;
    width: 225px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

#results {
    height: 50px;
    width: 225px;
    flex-wrap: wrap;
}

#screen {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

#calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h1 {
    color:gold
}

html, body {
    height: 100%;
    font-family: 'Uncial Antiqua', cursive;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: rgb(81, 128, 0);
    margin: 0;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero {
    background-color: gold;
}

#clear,
#equals,
#dot,
#back {
    background-color: silver;
}

#subtract,
#divide,
#multiply,
#add {
    background-color: #cd7f32;
}

#zero {
    flex: 2;
}